body {
  background-color: black;
}

nav,
footer {
  background: rgb(0, 250, 226);
  background: linear-gradient(
    90deg,
    rgba(0, 250, 226, 1) 0%,
    rgba(0, 197, 72, 1) 44%,
    rgba(131, 209, 91, 1) 100%
  );
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
MobileNavbar {
  display: hidden;
  background: rgb(0, 250, 226);
}
.icons {
  width: 20px;
  height: 20px;
}
